
html{
  scroll-behavior: smooth;
     -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
-webkit-tap-highlight-color: transparent;

}

a:link{
  text-decoration: none!important;
  
}

body{
    margin: 0 auto;
    background-image: url('elements/element1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 3760px;
    background-color: #252525;
}

/* Set both colors */
::-webkit-scrollbar {
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  width: 10px;
  margin-left: 20px;
  border: 3px #000000 solid;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: #636366;
  padding: 200px;
}

@font-face {
  font-family: "sf-pro";
  src: url(../fonts/SFPRODISPLAYREGULAR.OTF);
}

@font-face {
  font-family: "sf-pro-bold";
  src: url(../fonts/SFPRODISPLAYBOLD.OTF);
}

@font-face {
  font-family: "sf-pro-bold-italic";
  src: url(../fonts/SFPRODISPLAYBLACKITALIC.OTF);
}

.main-container{
  background-color: aliceblue;
  width: auto;
}

.navbar{
  position: relative;
  z-index: 2;
    height: 44px;
    max-height: 50px;
    width: 100%;
    background-color: rgba(18, 18, 18, 0.5);
    backdrop-filter: blur(100px);
}

.wfan-logo{
    margin-top: 7px;
    width: 30px;
    margin-left: 15px;
    transition: 0.40s;
}

.wfan-logo:hover{
  transform: scale(1.2);
}

.topnav {
  display: flex;
  width: 100%;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
  justify-content: center;
  transition: 0.40s;
  z-index: 1;
  gap: 20px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  font-family: 'Atkinson Hyperlegible', sans-serif;
   -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
    transition: 0.40s;
      border-radius: 30px;


}
/* Add a color to the active/current link */
.active-1 {
}

.title-bar{
    width: auto;
    padding: 1px 20px;
    height: 30px;
    border-radius: 8px;
    transition: 0.30s;
    margin-top: -6px;
    color: #CDCDCD;
}

.title-bar:hover{
    background-color: rgba(40, 40, 42, 0.5);
    transform: scale(1.1);
}

.text{
    margin-top: 7px;
}

.space{
  height: 40px;
}

.block{
  height: 100vh;
  width: 100%;
}


/*------------------------------------*/


.title{
  font-family: sf-pro-bold;
  color: white;
  font-size: 40px;
}

.details{
  font-family: sf-pro-bold;
  color: #919191;
  font-size: 20px;
}

.flex-box{
  width: 75%;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 40px;
  
}

.sticky{
  width: auto;
  height: 3650px;
  margin-top: 15px;

}

.video-container{
  width: 900px;
  height: auto;
  margin-top: 50px;
  align-self: flex-start;
  position: sticky;
  top: 0;
  padding: 10px;
  margin-top: 0px;
}

.video{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.grid-box{
  width: 100%;
  height: 3000px;
}

.text-container{
  width: 100%;
  height: 250px;
  margin-top: 170px;
}

.text-container2{
  width: 100%;
  height: 250px;
  margin-top: 800px;
}

.text-container3{
  width: 100%;
  height: 250px;
  margin-top: 630px;
}

.button{
  background-color: rgba(255, 255, 255, 0.97);
    backdrop-filter: blur(10px);
  font-family: "sf-pro";
  color: rgb(0, 0, 0);
  text-align: center;
    padding: 9px 1%;
    width: 180px;
    border-radius: 8px;
    transition: 0.40s;
    margin-top: 30px;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.497);
}

.button:hover{
  background-color: rgb(172, 172, 172);
    backdrop-filter: blur(10px);

}





























.bar3{
  width: 90%;
  height: 1px;
  background-color: #424242;
  margin: auto;
  margin-top: 2700px;
  border-radius: 20px;
}





.bottom-div-container{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

}

.bottom-div{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  gap: 40px;
  display: flex;
  margin-top: 20px;
  width: 800px;
}

.bottom-div-2{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  gap: 40px;
  display: flex;
  margin-top: 50px;
  width: 800px;
}

.bottom-div-content{
  width: auto;
}

.bottom-div-title{
  font-family: 'Atkinson Hyperlegible', sans-serif;
color: #ffffff;
font-weight: 700;
font-size: 18px;
}

.bottom-div-link{
font-family: 'Roboto', sans-serif;
color: #8A8A8A;
font-weight: 400;
transition: 0.20s;
}

.bottom-div-link:hover{
color: #ffffff;
text-decoration: underline white 1px;
}

.td1-spacer{
width: 80px;
height: auto;
}

.mobile-parent{
  display: none;
}

.parent-tablet{
  display: none;
}

.parent-mobile{
  display: none;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(85%);
  transition: all 2s;
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
}

.logo:nth-child(1) {
  transition-delay: 100ms ;
}

.logo:nth-child(2) {
  transition-delay:200ms ;
}

.logo:nth-child(3) {
  transition-delay:300ms ;
}

.logo:nth-child(4) {
  transition-delay:400ms ;
}

.logo:nth-child(5) {
  transition-delay: 500ms ;
}
.logo:nth-child(6) {
  transition-delay: 600ms ;
}

.logo:nth-child(7) {
  transition-delay: 700ms ;
}

  .parent-mobile{
    display: none;
  }

  .parent-tablet{
    display: none;
  }




















































/*portrait mode*/
@media  (max-width: 1310px) {

  
  .parent-desktop{
    display: none;
  }
  .parent-tablet{
    display: block;
  }

/* Add a color to the active/current link */
.topnav a.active {
}

.space{
  height: 40px;
}

.title{
  font-family: sf-pro-bold;
  color: white;
  font-size: 30px;
}

.details{
  font-family: sf-pro-bold;
  color: #919191;
  font-size: 20px;
}

.flex-box{
  width: 90%;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;  
  gap: 30px;
}

.sticky{
  width: auto;
  height: 3650px;
  margin-top: 15px;
  order: 1;


}

.video-container{
  width: 400px;
  height: auto;
  margin-top: 50px;
  align-self: flex-start;
  position: sticky;
  top: 0;
  padding: 10px;
  margin-top: 0px;
  order: 1;
}

.video{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-image: url(elements/header1.mp4);
}

.grid-box{
  width: 100%;
  height: 3000px;
}

.text-container{
  width: 100%;
  height: 250px;
  margin-top: 120px;
  order: 2;
}

.text-container2{
  width: 100%;
  height: 250px;
  margin-top: 800px;
  order: 2;
}

.text-container3{
  width: 100%;
  height: 250px;
  margin-top: 630px;
  order: 2;
}

.button{
  background-color: rgba(255, 255, 255, 0.97);
    backdrop-filter: blur(10px);
  font-family: "sf-pro";
  color: rgb(0, 0, 0);
  text-align: center;
    padding: 9px 1%;
    width: 180px;
    border-radius: 8px;
    transition: 0.40s;
    margin-top: 30px;
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.497);
}

.button:hover{
  background-color: rgb(172, 172, 172);
    backdrop-filter: blur(10px);

}




























































a:link{
  text-decoration: none!important;
  
}

.bottom-div-container{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

}

.bottom-div{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  gap: 40px;
  display: flex;
  margin-top: 50px;
  width: 90%;
}

.bottom-div-2{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  gap: 40px;
  display: flex;
  margin-top: 50px;
  width: 90%;
}

.bottom-div-content{
  width: auto;
}

.bottom-div-title{
      font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
}

.bottom-div-link{
  font-family: 'Roboto', sans-serif;
  color: #8A8A8A;
  font-weight: 400;
  transition: 0.20s;
}

.bottom-div-link:hover{
  color: #ffffff;
  text-decoration: underline white 1px;
}

.td1-spacer{
width: 80px;
height: auto;
}

}




















@media only screen and (max-width:750px) {

  .parent-tablet{
    display: none;
  }

  .slideshow-container{
    display: none;
  }

  /* Set both colors */
::-webkit-scrollbar {
  display: none;

}

::-webkit-scrollbar-thumb {
  display: none;
}
  html{
  scroll-behavior: smooth;
     -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
  .parent-desktop{
    display: none;
  }

  .parent-mobile{
    display: block;
  }


  body{
    margin: 0 auto;
    background-image: url('elements/element1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 3600px;
    background-color: #252525;
}













/* Style the navigation menu */
.topnav-mobile {
    width: 100%;
  position: fixed;
  z-index: 2;
  overflow: hidden;
    background-color: rgba(18, 18, 18, 0.5);
    backdrop-filter: blur(30px);
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav-mobile #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav-mobile a {
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav-mobile a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 15px;
}

/* Add a grey background color on mouse-over */
.topnav-mobile a:hover {
  color: rgb(255, 255, 255);
  transition: 0.40s;

}

/* Style the active link (or home/logo) */
.active {
  color: white;
}

.wfan-logo-mobile{
    margin-top: 5px;
    width: 40px;
    margin-left: auto;
    transition: 0.40s;
}

.nav-button{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.nav-button:hover{
  background-color: rgb(28, 28, 30);
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.space{
  height: 60px;
}











.flex-box{
  width: 73%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: grid;  
  gap: 0px;
}

.sticky{
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-left: auto;
  margin-top: 15px;
}

.video-container{
  width: 100%;
  height: auto;
  margin-top: 50px;
  align-self: auto;
  position: relative;
  padding: 0px;
  margin-top: 900px;
}

.video{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-image: url(elements/header1.mp4);
}

.grid-box{
  width: 100%;
  height: 3000px;
}

.text-container{
  width: 100%;
  height: 250px;
  margin-top: 120px;
}

.text-container2{
  width: 100%;
  height: 250px;
  margin-top: 600px;
}

.text-container3{
  width: 100%;
  height: 250px;
  margin-top: 50px;
}

























































a:link{
  text-decoration: none!important;
  
}

.bar3{
  margin-top: 600px;

}

.bottom-div-container{
  width: auto;
  margin: auto;
    margin-bottom: 40px;
  }

.td1-spacer{
width: 80px;
height: 40px;
}

.bottom-div-title{
      font-family: 'sf-pro';
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
}

.bottom-div-link{
  font-family: 'Roboto', sans-serif;
  color: #8A8A8A;

  font-weight: 400;
  transition: 0.20s;
}

.bottom-div-link:hover{
  color: #ffffff;
}

.bottom-div{
  display: block;
}

}
